# Dictionaries

In [1]:
employees ={}  # Set has no keys, no index but dictionaries as {} but they ahve key and values
print(employees)

{}

In [2]:
#Create dic with some initial values
# Key and values are seperated by colon
#key-value is seperated by comma
#Keys are immutable, value are mutable
#Keys cannot be duplicate
employees={'111':'San','222':'lucy'}
print(employees)

{'111': 'San', '222': 'lucy'}

In [3]:
#Add a value
employees['333']='robert'
print (employees)

{'111': 'San', '222': 'lucy', '333': 'robert'}

In [4]:
#modifying the existing value
employees['111']='sam'
print(employees)

{'111': 'sam', '222': 'lucy', '333': 'robert'}

In [6]:
print(employees['222'])

lucy

In [7]:
#Accessing dictionary using get() function
#no key error rather we get the none object from the list
print(employees.get('444'))

None

In [8]:
#loop through a dictionary
for key in employees:
    print(key,":",employees[key])

111 : sam
222 : lucy
333 : robert

In [9]:
for key in employees.keys():
    print(key)

111
222
333

In [10]:
# looping through dictionary values
employees.values()

dict_values(['sam', 'lucy', 'robert'])

In [12]:
for value in employees.values():
     print(value)
        # value is just a variable nothing else

sam
lucy
robert

In [13]:
employees.items()

dict_items([('111', 'sam'), ('222', 'lucy'), ('333', 'robert')])

In [15]:
for item in employees.items():
    print(item)

('111', 'sam')
('222', 'lucy')
('333', 'robert')

In [16]:
## item is a tuple.list of tuples within a dictionary
for item in employees.items():
    print(item[0],':',item[1])

111 : sam
222 : lucy
333 : robert

In [21]:
#dictionaries has no orders no indexing as well
#number of elements in a dict

len(employees)

IndentationError: unexpected indent (<ipython-input-21-5a04fe38b370>, line 6)

In [23]:
#removing element from employees
del employees['333']
print(employees)

{'111': 'sam', '222': 'lucy'}

In [24]:
key ='444'
if key in employees:
    del employees[key]

In [29]:
#Number of corona data
#Number of deaths from corona
conoraData ={
    'Telugana':100,
    'tamil nadu': 40,
    'Andra':200,
    'karnata': 400
}

In [30]:
#Number of deaths from corona
conoraData ={
    'Telugana':[100,1],
    'tamil nadu': [40,30],
    'Andra':[200,10],
    'karnata': [400,5]
}

In [36]:
print(coronaData[key][1])

NameError: name 'coronaData' is not defined

In [38]:
#We can update one dictionary with the other dictionary
person={
    
    'Name':'Zebra',
    'Height':12*5+10  # expression can be feed for the key in dictionary
}

In [40]:
grades ={
    
    'smita':[34,34,5,67],
    'samthiya':[56,78,8,33]
}
print(grades['smita'])

[34, 34, 5, 67]

In [43]:
x= sum(grades['smita'])
y= len(grades['smita'])
print('avg is' , x/y)

avg is 35.0

#nested dictionaries

In [45]:
employeeData = {
    'Name' :{'First' :'sanjay','name':'sjukla'},
    'JobTitle':['developer','Manager'],
    'City':'pune',
    'Salary' :10000.00
} 

print(employeeData)

{'Name': {'First': 'sanjay', 'name': 'sjukla'}, 'JobTitle': ['developer', 'Manager'], 'City': 'pune', 'Salary': 10000.0}

## Lambda functions /Ananymus functions

In [46]:
def xsquare(x):
    return x*x
xsquare(25)

625

In [47]:
x =5
# value to a variable
valueA=lambda x:x*x ## lambda(Keyword) x(input): x*x (output)  , compelte function is given to a value called valueA

print(valueA(5))

25

In [50]:
valueB =lambda a,b:a*b
print(valueB(2,4))

8

In [51]:
def funA(y):
    return lambda x:x*y
a = funA(5)
a

In [52]:
a(10)

50